<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Greetings</h1>
        <h2>Enter Your Cart ID</h2>
        <input type="text" name="cartId" id="singleProductPageCartId" placeholder="Cart ID">
        {{#each productById}}
            <div>
                <input type="hidden" id="singleProductPageProductId" value="{{_id}}">
                <br>
                Title = {{title}}
                <br>
                Description = {{description}}
                <br> 
                Price = {{price}} pesos
                <br>
                Code = {{code}}
                <br>
                <a href="/products">Regresar a Products</a>
                <button type="" id="singleProductPageAddToCartButton">Add to Cart</button>
            </div>
        {{/each}}
    </div>
        <script src="/socket.io/socket.io.js"></script>
    <script src="/js/productToCart.js"></script>
</body>
</html>