<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Greetings, {{first_name}} {{last_name}}!</h1>
        <h3>Age:{{age}}</h3>
        <h3>Email: {{email}}</h3>
        <br/>
        <h2>Enter Your Cart ID</h2>
        <input type="text" name="cartId" id="cartId" placeholder="Cart ID">
        {{!-- {{#if isAdmin}} --}}
        <h2>PRODUCTS</h2>
        <ul>
            {{#each products.docs}}
            <li>{{this.title}} = {{this.price}} pesos.
                <a href="/products/{{this._id}}" >Ir a Producto</a>
                <button onclick="addToCart('{{this._id}}')">Add to Cart</button>
                <form method="POST" action="../api/carts/">
                <input type="hidden" name="productId" value="{{this._id}}">
                <input type="number" name="quantity" value="1" min="1" max="10">
                <button type="submit">Add to Cart</button>
          </form>
            </li>
            {{/each}}
        </ul>
        <div>
            {{#if products.hasPrevPage}}
                {{#if isSortByPrice}}
                <a href="/products?page={{products.prevPage}}&limit={{limit}}&sortByPrice={{sortByPrice}}">Previous Page</a>
                {{else}} 
                
                {{#if isSortByTitle}}
                <a href="/products?page={{products.prevPage}}&limit={{limit}}&sortByTitle={{sortByTitle}}">Previous Page</a>
                {{else}}
            <a href="/products?page={{products.prevPage}}&limit={{limit}}">Previous Page</a>
                {{/if}}
                {{/if}}
            {{/if}}
        </div>

        <span>Page {{products.page}} of {{products.totalPages}}</span>

        <div>
            {{#if products.hasNextPage}}
                {{#if isSortByPrice}}
                <a href="/products?page={{products.nextPage}}&limit={{limit}}&sortByPrice={{sortByPrice}}">Next Page</a>
                {{else}}
                
                {{#if isSortByTitle}}
                <a href="/products?page={{products.nextPage}}&limit={{limit}}&sortByTitle={{sortByTitle}}">Next Page</a>
                {{else}}
            <a href="/products?page={{products.nextPage}}&limit={{limit}}">Next Page</a>
                {{/if}}
                {{/if}}
            {{/if}}
        </div>

        {{!-- {{else}}
        <p>Sorry, autorization was denied to view Products.</p>
        {{/if}} --}}
    </div>
    {{!-- <script src="../dao/index.js"></script> --}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/productToCart.js"></script>
</body>
</html>